 
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 8rem;
    position: fixed;
    width: 100vw;
}

.menu.rolagem {
    background-color: #1D1939;
}

.img{
    margin: 0;
}

.menu-list {
    display: flex;
}

.item-list {
    list-style: none;
    margin:  0 1.5rem 5px 1.5rem;
    padding: 5px;
    padding-top: 10px;
}

.item-link {
    text-decoration: none;
    text-transform: uppercase; 
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
    letter-spacing: 2px;
    cursor: pointer;
}

.item-list :hover {
    color: #CA96FE;
    transition: 0.4s;
}
